Repository Electrostat-Lab/Electrostatic-Sandbox, pull requests merged in 2024-08, with the labels that each got.

#30 Create roadmap.md
  embedded-system-design/electrostatic-infrastructure/roadmap.md
Labels: documentation, theory, system-design

#33 electrostatic-sandbox-framework: linking math and pthread for electrostatic-core
  electrostatic-sandbox-framework/helper-scripts/project-impl/compile-electrostatic.sh
Labels: build-script

#35 Arithmos: abstract data types API - switching algebra API
  .fleet/run.json
  .fleet/settings.json
  .github/workflows/build-test.yml
  electrostatic-sandbox-framework/.fleet/run.json
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/README.md
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/adt/list.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/adt/map.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/adt/queue.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/adt/stack.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/algebra/switching.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/info.txt
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/list/contiguous_buffer.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/list/linked_buffer.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/memory/patcher.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/queue/concurrent_linked_queue.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/queue/linked_queue.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/vectorspaces/coordinate.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/algorithm/arithmos/vectorspaces/vector2d/vector2d.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/util/console/colors.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/util/errno/errno.h
  electrostatic-sandbox-framework/electrostatic-core/src/include/electrostatic/util/unit-testing/unit_test.h
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/algebra/switching/switching_and.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/algebra/switching/switching_not.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/algebra/switching/switching_or.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/algebra/switching/switching_xor.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/list/contiguous_buffer.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/list/linked_buffer.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/list/list.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/queue/linked_queue.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/algorithm/arithmos/queue/queue.c
  electrostatic-sandbox-framework/electrostatic-core/src/libs/electrostatic-primer/util/unit-testing/unit_test.c
  electrostatic-sandbox-framework/electrostatic-examples/CMakeLists.txt
  electrostatic-sandbox-framework/electrostatic-examples/src/hello_lists.c
  electrostatic-sandbox-framework/electrostatic-examples/src/hello_unittest.c
  electrostatic-sandbox-framework/electrostatic-examples/src/hello_vector2d.c
  electrostatic-sandbox-framework/helper-scripts/ci-cd/test-electrostatic.sh
  electrostatic-sandbox-framework/helper-scripts/project-impl/compile-electrostatic.sh
  electrostatic-sandbox-framework/helper-scripts/project-impl/run-serial4j-demo.sh
  electrostatic-sandbox-framework/helper-scripts/project-impl/variables.sh
Labels: enhancement, system-design
